

body {
    margin: 0;
}

header {
    background-color: black;
    padding: 10px;
}

.flex-container {
    display: flex;
    align-items: flex-start;
}

#logo {
    text-align: center;
    width: 100%;
}

#logo img {
    width: 5%;
    margin-top: 1%;
}

#reservas {
    width: 10%;
    margin-top: 2.5%;
}

#reservas a {
    font-family: cursive;
    background-color: white;
    text-decoration: none;
    color: black;
    text-align: right;
    padding: 10px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.menu {
    margin-left: 32%;
    margin-top: 2%;
}

.menu li {
    position: relative; 
}

.menu li a {
    text-decoration: none;
    color: white;
    padding: 8px 15px;
    border-radius: 5px;
    position: relative; 
}

.menu li a::before {
    content: '';
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0;
    height: 5px;
    background-color: rgb(255, 98, 0);
    transition: width 0.3s ease;
}

.menu li a:hover::before {
    width: 100%;
}

.slide {
    position: relative;
    flex: 0 0 50%; /* Cada imagen ocupa el 50% del contenedor */
    opacity: 1;
}

.slide img {
    width: 100%;
    height: 100%; /* Para ajustar la imagen al contenedor */
    object-fit: cover; /* Ajusta la imagen para cubrir el contenedor sin deformarla */
    display: inline-block;
}

.text {
    position: absolute;
    top: 50%; /* Posición vertical al centro */
    left: 50%; /* Posición horizontal al centro */
    transform: translate(-50%, -50%);
    color: white;
    font-size: 24px;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    z-index: 2; /* Asegura que esté por encima de la imagen */
}

input[type="radio"] {
    display: none;
}

input[type="radio"]:checked + .slides .slide {
    opacity: 0;
}

input[type="radio"]:checked + .slides .slide:checked {
    opacity: 1;
}

footer{
    background-color: black;
    padding: 10px;
}
div > p,h3{
    color: white;
    text-align: left;
}

#logoPie {
    padding-top: 5%;
    text-align: center;
    padding-right: 10%;
    width: 100%;
}

#logoPie img {
    width: 20%;
    margin-top: 1%;
}

#llamadas{
    width: 50%;
}

#lacay{
    width: 100%;
}

#infoCliente{
    width: 100%;
}
#infoCliente img{
    margin-right: 75%;
}

p{
    margin: 0%;
}

h3{
    margin-bottom: 0;
    margin-top: 0;
}

#license {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

#licenseLink {
    text-decoration: none;
    color: #0077cc;
    display: flex; /* Alineación horizontal */
}

.licenseImg {
    height: 22px;
    vertical-align: text-bottom;
}


